---
layout: base
title: "The Game and Interactive Software Scholarship Toolkit (GISST)"
category: home
eleventyNavigation:
    key: Home
tags: static
---
<div class="container-fluid">
    <div class="col">
        <h1 class="display-1">The Game and Interactive Software <br> Scholarship Toolkit</h1>
        <p class="lead">
            <a href="https://gisst.pomona.edu">GISST</a> is a tool for the reference and citation of software moments. <br>You can use GISST to capture software interactions and game play to share with others.
        </p>
        <h2>Overview</h2>
        <p>
            The Game and Interactive Software Scholarship Toolkit (GISST) is a US National Endowment for the Humanities (NEH) funded project to develop a framework for the citation and sharing of emulated states and input streams. GISST allows a user to load files and games into an emulator (either locally or in-browser), record their interactions with it, and then share linkable citations to “replays” of user input as well as the emulator’s underlying memory states. This enables embedding of curated emulator states and replays into online articles, as well as canonical URI references to specific states running on specific architectures.</p>

        <p>Currently, the system supports many common computer game systems through the Retroarch framework, as well as 32-bit x86 systems. The project is also developing a set of targeted case studies into computer games, architectural design software, e-literature, and other software studies domains in addition to GISST’s potential for automating digital preservation workflows.</p>

        <p>Since GISST will allow for quick emulated access to legacy software files, it could be used for validation of ingested digital objects, recording of data-access workflows, and comparisons of digital objects running on different, yet related, architectures, or different versions of objects running on similar architectures. The system includes a web-based and native application interface, as well as a server side repository to store saved input streams and states. Our goal is create a new ecosystem for sharing and leveraging software-based records for collaborative study and institutional use.</p>
    </div>
</div>