---
layout: base
title: "GISST Workshops"
eleventyNavigation:
    key: Workshop
---

<div class="container-fluid">
    <div class="col">
        <h1 class="mt-3">Foundations of Digital Games 2024 Tutorial on Playable Citations</h1>
        <p class="lead">We are pleased to announce that the first interactive playable citation workshop will take place at the <a href="http://fdg.2024.org">Foundations of Digital Games Conference</a> in Worcester, Massachusetts on May 21st, 2024</p>
        <h2>Introduction</h2>
        <p>The playable citation workshop will bring together a diverse group of game scholars to work through activities aimed at exploring the potential of playable citations (e.g. <a href="https://gisst.pomona.edu">GISST</a> and <a href="https://tenmile.quote.games">Playable Quotes</a>) for scholarly games research.
            The event will occupy of full-day of the conference and hopefully lead to continuing collaborations among a growing community of users.</p>
        <h2>Objectives</h2>
        <p>
            This tutorial will kickstart scholarship and pedagogical applications built on the latest prototypes of the Game and Interactive
            Scholarship Support Toolkit (GISST), funded by the National Endowment for the Humanities. GISST is a database of game metadata and a web-based workbench for building up citations in the form of snapshots of system state and replays of input sequences. GISST s built on the RetroArch project, so it supports several dozen platforms for interactive, in-browser play, and dozens more in a
            companion desktop app. Besides RetroArch emulator cores, it also
            supports the v86 emulator for a number of 32-bit x86 operating
            systems ranging from DOS through Windows XP. The workshop
            will familiarize participants with the tool and scholarly workflow
            during the morning; in the afternoon, participants will conduct
            novel scholarship with GISST, possibly even exporting citations
            in the form of self-contained playable quotes suitable for public
            release.</p>
        <p>
            We do not expect to directly publish participants’ work from
            this tutorial, but we will establish an ongoing discussion group
            to support participants after the day is over. We also intend to
            run similar tutorials at other conferences outside of the game design/game studies community, including digital humanities and
            software preservation venues. Our main objective is that after this
            tutorial, future iterations of FDG (and other conferences including
            DiGRA, AIIDE, and IEEE CoG) will begin to receive papers with
            comprehensive playable citations. We hope to organize or support
            workshops at other game conferences focused around papers using
            playable citations, or propose game design or game studies journal
            special issues leveraging playable citations.</p>
        <h2>Activities and Schedule</h2>
        <p>This tutorial will run for a full day, with the first half used for
        training and brainstorming and the second half for composing new
        scholarship or imagining new applications for playable citations.
        In the first hour we will briefly present the overarching idea
        of playable citations and quotes, show examples of GISST in use,
        and give participants a chance to explore an online game design
        syllabus module with embedded playable citations. After a coffee
        break, participants will group together to collect citations towards
        or against a given argument: e.g., that Capcom reused design or
        code of the same jumping subroutine across their NES platformer
        games, or that the first enemy in a role-playing game is on average
        defeated in no more than three rounds if the player only attacks,
        or that the first stage of Super Mario Bros. contains an interactive
        tutorial of its key mechanics, or some other claim drawn from game
        design or game studies examples. The remainder of the time before
        lunch will be used for feedback and brainstorming of ideas and
            applications in advance of the afternoon.</p>
        <p>
        During the afternoon, we will spend most of the time in small
        groups outlining research papers, collecting citations in support of
        an argument, or designing new applications for embedded playable
        citations. We will conclude by sharing out ideas and conducting
        a final wrap-up session to set directions in game citation for the
            coming months and establish a shared discussion group.</p>
        <h2>Organizers</h2>
        <h4>Eric Kaltman</h3>
        <p>
            Eric Kaltman is an Assistant Professor at the University of Alberta.
            He has published on game citation practices, co-organized a workshop on game citation practices at DIGRA 2023, and was a co-coordinator of both the Software Preservation Network (2021-2023)
            and its Technological Infrastructure Working Group (2019-present).
            Kaltman runs the Software History Futures and Technologies (SHFT)
            Group that focuses on the creation of new systems for the management, description, and reproduction of historical software and
            games. He also managed the IMLS-funded Game Metadata and Citation Project (GAMECIP) from 2014-2018 that formed the genesis
            for GISST and this workshop.
        </p>
        <h4>Joseph C. Osborn</h3>
        <p>
            Joseph C. Osborn is an Assistant Professor at Pomona College. He has co-organized several workshops at FDG, AAAI, and AIIDE including the Game Pedagogy Workshop, Knowledge Extraction from Games, and Programming Languages and Interactive Entertainment, and served as Workshop and Tutorials Chair at AIIDE
            2020. Osborn’s work is primarily in the connections between programming languages, artificial intelligence, and game design, with
            recent work in automated mapping of game worlds and domain-specific languages for game engine development.
        </p>
        <h4>Adam Smith</h4>
        <p>Adam Smith is an Assistant Professor of Computational Media
            at UC Santa Cruz. He has co-organized workshops and tutorials
            at FDG and AIIDE. His lab’s recent development of technology
            for producing playable quotes may soon allow the distribution of
            data needed to read playable citation in a formation that could
            enjoy Fair Use protections. Playable quotes and citations are a key
            enabling technology for the next phase of his technical research in
            information retrieval (i.e. search engines) for moments in interactive
            media.</p>
    </div>
</div>